@use '../modules/' as m;

body {
  color: var(--gray);
  font-family: m.$ff-s;
  line-height: 1.6;
  background: var(--white);
  font-size: .875rem;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: var(--accent);
  line-height: 1;
  font-size: 3.125rem;

  span {
    @include m.sans-serif($fs: 5.5rem, $color: var(--accent));
    display: block;
  }
}

h2 {
  @include m.sans-serif($fs: 2rem);
}

p {}